<form action="/pizza-orders" method="post">
  <label for="first-name">First name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" id="last-name">

  <label for="pizza-select">Select a pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity">

  <input type="submit" value="Order Pizza">

</form>
